{% extends "base_generic.html" %}
{% block content %}
<div class="contentWrapper m-5">
    <article id="fullArticle">
        <h1 class="title">A trail crosses through a private property</h1>
        <a href="javascript:window.print()" class="printArticle" title="Print this article"
            aria-label="Print this Article"><i class="icon-print"></i></a>
        <h3>What to do if a route published on Wikiloc passes through my property or I consider that it violates my
            rights?&nbsp;</h3>
        <div>
            <br> Wikiloc is an Intermediation Service Provider (ISP), in accordance with the provisions of Law 34/2002,
            of July 11, on services of the information society and e-commerce (hereinafter, "
            <strong>LSSI</strong>"). This is so because Wikiloc is limited to providing users with a service through
            which they can store and access routes, but it does not edit, examine, control, guarantee, select, approve
            or identify with them.
        </div>
        <div>
            As such, Wikiloc does not have a general duty to supervise the routes and is subject to the liability
            exemption regime provided in article 16 of the LSSI, by virtue of which Wikiloc is not responsible as long
            as it does not have actual knowledge that the activity or information stored is unlawful or harms goods or
            rights of third parties and, if there is actual knowledge, it should act be acted upon with due diligence to
            remove the data.
        </div>
        <div>
            As indicated in article 16 of the LSSI, it is understood that there is actual knowledge, when a competent
            body has declared the wrongfulness of the data, ordered its withdrawal or access to be blocked, or the
            existence of wrongfulness has been declared and the corresponding resolution was known.
        </div>
        <div>
            Additionally, it must be taken into account that, in the claims made to Wikiloc in relation to the routes,
            the peculiarity lies in the difficulty of determining the illegality or infringement of the rights of third
            parties of the posted routes. Thus, the property title must be verified and there may be many circumstances
            beyond the scope of Wikiloc that affect the origin of the claim, such as the existence of public paths,
            easements or rights of way. Therefore, in these cases in which there may be so many unknowns or
            uncertainties related to the basis of the claim, in theory, the declaration or resolution cited in the
            previous paragraph is necessary for there to be actual knowledge by Wikiloc.
        </div>
        <div>
            Likewise, in order to identify the authors of the route, due to data protection laws and regulations, it is
            necessary for there to be granted a formal request by a recognized judicial body or that it is in accordance
            with other cases as stipulated by law.
        </div>
        <div>
            Notwithstanding the foregoing, in our experience, to
            <strong>resolve a problem</strong> in relation to a route, the fastest and most efficient way is to
            <strong>contact the route's author via private message</strong> and present the pertinent arguments,
            requesting that the user who posted the route in question removes it. Similarly, another option is to
            <strong>add a comment on the route indicating the issue</strong>, which also has an informative effect for
            other users who are interested in following the route and who may not otherwise have this information. In
            most cases, as there is no malicious intent, you receive a positive response and an immediate action to
            rectify this route's future followers.
        </div>
        <div>
            It is noteworthy to add that the route has most likely been published on other online platforms (Strava,
            Garmin, Suunto, Endomondo, Runkeeper, etc.), so informing future users is a very good and effective option
            to solve the problem.
        </div>
    </article>
    <section class="articleFoot">
        <i class="icon-contact"></i>
        <p class="help">Still need help?
            <a id="sbForum" href="http://www.wikiloc.com/forum/">Ask the community</a> or <a id="sbContact"
                href="#contactModal" data-toggle="modal" class="contactUs">Contact Us</a>
            <a id="sbContactMobile" href="/contact" class="contactUs">Contact Us</a>
        </p>
        <time class="lu" datetime="2020-11-12">Last updated on November 12, 2020</time>
    </section>
</div>
{% endblock %}